
/* large view navigation ************************************/
@media (min-width: 90em) {
    header, main, footer {
        max-width: 2500px;
        margin: 0 auto;        
    }



header {
    display: flex;
    background-color:  rgb(60, 10, 100);;
        
}
        /* main design*/

    main h2 {
        text-align: center;        
    }

    .temple-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        justify-self: center;
    }





	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: left;
        
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction:row;
        margin-left: auto;
        
        
	}

	.navigation a {
        padding-top: 1.8rem;
		display: block;        
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}
